<!DOCTYPE html>
<html>
    <head>
        <title> Welcome page </title>
    </head>
    <body>
        <h1>PLEASE SELECT YOUR CHOICE OF LEVEL TO CONTINUE</h1>
        <form action = "/play/quiz", method="post" >
            <label for = "Level"> Level:</label>
            <input type = "radio"  name = "level" value = "EASY"> EASY
            <input type = "radio" name = "level" value = "MEDIUM"> MEDIUM
            <input type = "radio" name = "level" value = "HARD"> HARD
        <br>
        <input type = "submit" name = "submitform" value = "SUBMIT">
        </form>
    </body>
</html>