<!DOCTYPE html>
<html>
    <head>
        <title> Welcome page </title>
    </head>
    <body>
        <h1>PLEASE LOGIN TO CONTINUE</h1>
        <form action = "/level/quiz", method="post" >
            <label for = "Name"> Name: </label> <br>
            <input type = "text" id = "fname" name = "fname" placeholder="insert your name here....."><br>
            <label for = "Mobile No."> Mobile No. :</label> <br>
            <input type = "number" id = "mobile" name = "mobile" placeholder="enter mobile number here.."><br>
        <br>
        <input type = "submit" name = "submitform" value = "SUBMIT">
        </form>
    </body>
</html>